.Forecast {
  margin: 10px;
}
.Forecast .forecast-item {
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 10px;
  background: transparent;
  transition: all 200ms ease-in-out;
}
.forecast-item:hover {
  background: #7dc8f7;
}
